/* ===============================
    Custom CSS
    By: Levi Villarreal, Ji-Young Seo, Vishrath Kumar,Avner Khan
    For HackTX
    Completed 10/28/2017
=============================== */



/* ===============================
    General
   =============================== */
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

body {
    padding: 20px 50px 20px 50px;
    white-space: nowrap;
    width: 400px;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.modifier-title {
    display: inline;
    width: 33% !important;
    float:left;

}

.textbox p {
    display: block;
    width: 300px;
    white-space: pre-line;
    background: #eee;
    padding: 5px;
}

.dropdown button, .dropdown-menu {
    width: 66%;
}

.map-nav, .no-pad .col-sm-3 {
    padding: 0px !important;
    margin: 0px !important;
}

.dropdown button, .dropdown-menu {
    border-radius: 0px !important;
    border: 1px solid #7e7e7e;
}

.dropdown button:hover {
    cursor: pointer;
}


















