/* ===============================
    Custom CSS
    By: Levi Villarreal, Ji-Young Seo, Vishrath Kumar,Avner Khan
    For HackTX
    Completed 10/28/2017
=============================== */



/* ===============================
    General
   =============================== */
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

body {
    padding: 20px 50px 20px 50px;
    white-space: nowrap;
    width: 400px;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}


.modifier-title {
    display: inline-block;
    width: 33% !important;
    
}

.modifier-title h3 {
    font-size: 15px !important;
}

.modifier-input {
    clear: both;
    display: inline-block;
}

.textbox {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 300px;
    white-space: pre-line;
    background: #eee;
    padding: 5px;
}

.preview h3 {
    clear: both;
    text-align: center;
}

select {
    border: 1px solid #AAA;
    border-radius: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
input.jscolor {
    outline: 0px solid #eee;
    border: 1px solid #000 !important;
    display: inline-block;
}
















