/* ===============================
    Custom CSS
    By: Levi Villarreal, Ji-Young Seo
    For TSA Webmaster competition
    Completed 2/25/15
=============================== */



/* ===============================
    General
   =============================== */
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}






















